@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.collections {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding: 100px 40px;
  color: #f5f5f5;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collections h2 {
  font-size: 3rem;
  margin-bottom: 22px;
 color: #eec84d;
 margin-bottom: 3rem;
 font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
}

.collections-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  width: 100%;
  max-width: 1100px;
  
}

.card {
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.05);
  text-decoration: none;
  background-color: #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 12px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 10px rgba(255, 215, 0, 0.15);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card h3 {
  text-align: center;
  padding: 10px 5px 5px;
  font-size: 1.1rem;
  color: #dbdbdb;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .collections {
    padding: 80px 80px;
  }

  .collections-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .card{
    margin-top: 20px
  }

  .card img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .collections {
    padding: 60px 60px;
  }

  .collections-items {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .collections h2 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .card {
    max-width: 280px;
    margin-top: 20px;
  }

  .card img {
    height: 180px;
  }

  .card h3 {
    font-size: 1rem;
  }
}


@media (max-width: 420px) {
  .collections-items{
    margin-right: 24px;
  }
  .collections h2{
    color: #eec84d;
  }
}