.collection-detail {
  padding: 60px 5vw;
  color: #bdbdbd;
  background: #0b0b0b;
  min-height: 100vh;
}

.collection-detail h2 {
  font-size: 2.2rem;
  margin-bottom: 12px;
color: #eec84d;
  letter-spacing: 1px;
  text-align: center;
}

.collection-desc {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
  color: #d1d5db;
}

/* Products grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 28px;
  margin-bottom: 40px;
}

.product-card {
  background: #111;
  border-radius: 14px;
  padding: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #ffffff;
}

.product-card p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #bdbdbd;
}

.product-card .price {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #eec84d;
}

.product-card:hover {
 
  box-shadow: 0 5px 10px rgba(255, 215, 0, 0.15);
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 1rem;
  color: #eec84d;
  text-decoration: none;
  transition: 0.3s;
}

.back-link:hover {
  text-decoration: underline;
  color: #ffd966;
}

.cart-add-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 15px;

}


.add-button{
    color: #111;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #eec84d;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.sub-button{
    color: #111;
    background-color: #eec84d;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#cart-text{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.cart-add-btn{
    padding: 10px 20px;
    background: #eec84d;;
    margin-top: 8px;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.cart-add-btn:hover{
    transform: scale(1.01);
    background: #ffd966;
}

.price-add-btn{
    display: flex;
    flex-direction: column;
   

}

@media (max-width: 768px) {
  .collection-detail h2 {
    font-size: 1.8rem;
  }

  .collection-desc {
    font-size: 1rem;
  }

  .product-card img {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .collection-detail {
    padding: 40px 20px;
  }

  .products-grid {
    gap: 50px;
  }

  .product-card {
    padding: 12px;
  }
}
