@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


.about {
  padding: 80px 20px;
  font-family: "Cormorant Garamond", serif;
  background: #111; /* dark bg for contrast */
  color: #f5f5f5;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #eec84d;
  letter-spacing: 2px;
}

.about p {
  max-width: 800px;
  margin: 0 auto 20px;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ddd;
}

.about p:last-child {
  margin-bottom: 0;
}


@media (max-width: 768px) {
  .about {
    padding: 60px 15px;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 40px 10px;
  }
  .about h2 {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 0.9rem;
  }
  .highlight{
    display: none;
  }
}
