.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #1a1a1a;
    gap: 10px;
    border-radius: 20px;
}

.login-input{
    display: flex;
    flex-direction: column;

}

.login-input label{
    color: white;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.login-input input{
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    outline: none;
}

button{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: #e6b800;
    transform: scale(1.05);
}
